<div class="small-10 columns" style="background-color: white">
	<div id="main_section" class="card" style="background-color: #e1f1f5; height: 70vh; margin-bottom: 2vh; margin-top: 2vh; position: relative">
		<div class="row" style="height: 11vh;">
			{{#each (getPages)}}
			<div id="title-{{id}}" class="small-12 columns" style="text-align: center; border-bottom: 3px solid #29488E; {{#unless show}}display: none;{{/unless}}">
				<h3 style="line-height: 6rem; font-size: 2rem; color: #29488E; font-weight: 500"> {{title}}</h3>
			</div>
			{{/each}}
		</div>
		<div class="row" style="height: 51vh; ">
			<div id="page" class="small-8 columns" style=" background-color: #e1f1f5; height: 90%; position: relative ">
				{{#each (getPages)}}
				<div id="{{id}}" style="{{#unless show}}display: none;{{/unless}} position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); ">
					{{#if subtitle}}
					<p style="text-align: center; font-size: 2rem; line-height: 2.5rem ">
						{{subtitle}}
					</p>
					{{/if}}{{#if subtitle2}}
					<div>
						<button class="button btn-cta expand" id="buttonInitial" style=" align: center; text-align: center; font-size: 2rem; color: white; padding:10px;">
							<span class=".icon-util-right-forward"></span>
							{{subtitle2}}
					</div>
					{{/if}} {{#each questions}} {{#compare type "===" "text"}}
					<div class="md-text-field with-floating-label" title="{{hoverText}}">
						<input type="{{type}}" id="{{id}}" required value="{{value}}" style="font-size: 1.5rem; height: 3rem; width: 24vw;" placeholder=""></input>
						<label for={{id}}>{{placeholder}}</label>
					</div>
					{{/compare}} {{#compare type "===" "select-dropdown"}}
					<div class="uitk-select md-text-field with-floating-label" style="margin-top: 4rem; width: 24vw" title="{{hoverText}}">
						<input id="{{id}}" type="text" class="select-input" readonly="true" placeholder="{{placeholder}}" required>
						<span class="select-arrow"></span>
						<ul class="select-dropdown">
							{{#each values}}
							<li id="{{id}}">{{text}}</li>
							{{/each}}
						</ul>
						<label>{{label}}</label>
					</div>
					{{/compare}}{{#compare type "===" "radio"}}
					<div id="{{id}}" class="md-multi-ctrl-field " style="{{#unless show}}display: none;{{/unless}}" title="{{hoverText}}">
						<label>{{label}}</label>
						{{#each values}}
						<input id="{{id}}" name="{{../id}}" type="{{../type}}">
						<label for="{{id}}">{{text}}</label>
						{{/each}}
					</div>
					{{/compare}} {{#compare type "===" "slider-bar"}}
					<div class="slidecontainer" style="width:100%;" title="{{hoverText}}">
						<label>{{label}}</label>
						<input type="range" min="0" max="1000" class="slider" id="myRange">
						<center>
							<span id="sliderOutput">$500</span>
						</center>
					</div>
					{{/compare}} {{/each}} {{#if subtitle3}}
					<div style="padding-top:5rem; text-align:center">
						<button class="button btn-cta success" id="buttonSubmit" style="align: center; text-align: center; font-size: 2rem; color: white; padding:10px; position:relative;">
							<span class=".icon-util-right-forward"></span>
							{{subtitle3}}
					</div>
					{{/if}}
					{{#compare type "===" "table"}}
									<div>
										<table class="table side-borders-none" summary="summary of table" style="background: white; "> 
											<caption class="show-for-sr"> I will take some magic white, and a little bit of Vandyke brown and a little touch of yellow. As trees get older they lose their chlorophyll.
 </caption>
												<thread>
													<tr class="info">
														<th width="500"> Expense </th>
														<th width="100" class="text-right">Amount</th>
														<th width="400">Frequency</th>
													</tr>
												</thread>
												<tbody>
													<tr>
														<td>You want your tree to have some character. Make it special.
</td>
														<td class="text-right">{{amount1}}</td>
														<td>x</td>
													</tr>
													<tr>
														<td>I guess I'm a little weird. I like to talk to trees and animals. That's okay though; I have more fun than most people.
</td>
														<td class="text-right">{{amount2}}</td>
														<td>x</td>
													</tr>
													<tr>
														<td>We're trying to teach you a technique here and how to use it.
</td>
														<td class="text-right">{{amount3}}</td>
														<td>x</td>
													</tr>
												</tbody>
										</table>
									</div>
									{{/compare}}
					
				</div>
				{{/each }}
			</div>
			<div id="info" class="small-4 columns" style="background-color: #e1f1f5; text-align: center; height: 90%;">
				<div class="" style="background-color: rgb(186, 199, 229); border-left: 3px solid #e1f1f5; margin: 2vh; padding: 2vh; height: 100%;">
					<ul class="keyval-chart key-columns-5 val-columns-7" id="info-table">
						<li class="chart-head">
							<span class="key" style="color:black">Selection</span>
							<span class="val" style="color:black">Value</span>
						</li>
					</ul>
				</div>
			</div>
		</div>