<div class="small-10 columns">
	<div id="main_section" class="card" style="height: 73vh; margin-bottom: 2vh; position: relative">
		<div class="row">
			{{#each (getPages)}}
			<div id="title-{{id}}" class="small-12 columns" style="text-align: center; border-bottom: 3px solid #16b161; {{#unless show}}display: none;{{/unless}}">
				<h3 style="line-height: 6rem; font-size: 2rem;"> {{title}}</h3>
			</div>
			{{/each}}
		</div>
		<div class="row" style=" ">
			<div id="page" class="small-8 columns" style=" background-color: #ffffff;">
				{{#each (getPages)}}
				<div id="{{id}}" style="{{#unless show}}display: none;{{/unless}}">
					{{!-- <h3 style="font-size: 3rem; line-height: 3rem;">{{title}}</h3> --}}

					{{#each questions}} {{#compare type "===" "text"}}
					<div class="md-text-field with-floating-label">
						<input type="{{type}}" id="{{id}}" style="font-size: 3rem; height: 6rem; width: 24vw;" placeholder="{{placeholder}}"></input>
					</div>
					{{/compare}} {{#compare type "===" "select-dropdown"}}
					<div class="uitk-select md-text-field with-floating-label" style="margin-top: 4rem; width: 24vw">
						<input id="{{id}}" type="text" class="select-input" readonly="true" placeholder="{{placeholder}}" required>
						<span class="select-arrow"></span>
						<ul class="select-dropdown">
							{{#each values}}
							<li id="{{id}}">{{text}}</li>
							{{/each}}
						</ul>
						<label>{{label}}</label>
					</div>
					{{/compare}}{{#compare type "===" "radio"}}
					<div id="{{id}}" class="md-multi-ctrl-field " style="{{#unless show}}display: none;{{/unless}}">
						{{#each values}}
						<input name="{{../id}}" id="{{id}}" type="{{../type}}">
						<label for="{{id}}">{{text}}</label>
						{{/each}}
					</div>
					{{/compare}} {{/each}}
				</div>
				{{/each }}
			</div>
			<div id="info" class="small-4 columns" style="background-color: #ffffff;">
				<h3>
					Info goes over here
				</h3>
			</div>
		</div>
