<div id="side_navigation" class="small-2 columns" style="background-color: rgb(186, 199, 229); height: 100vh; padding-top: 2vh">
	<h4>
		Life Events Financial Calculator
	</h4>
	<ul class="filter-nav vertical">
		{{#each (getPages)}}{{#if @index}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" pageid={{id}} style="color: black">{{nav}}</button>
			<!--<span class="icon icon-util-success"></span>-->
		</li>
		{{else}}
		<li class="filter-nav-entry ">
			<button class="nav-button" id="nav-{{id}}" style="background-color: #29488E; color: white;" pageid={{id}}>{{nav}}</button>
		</li>
		{{/if}} {{/each}}
	</ul>
</div>
